<div class="ui fixed inverted red menu">
    <div class="ui container">
        <a href="/" class="header item">
            <img class="logo" src="assets/images/logo.png">
            AIOCluster
        </a>
        <div class="section ui simple dropdown item">{{location.pathname}}<i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="profiler.html">Memory Tracker</a>
                <a class="item" href="profiler.html">Performance Profiler</a>
                <a class="item" href="profiler.html">Processes</a>
            </div>
        </div>
    </div>
</div>
