<div class="ui fixed inverted red massive menu">
    <div class="ui container">
        <a href="/" class="header item">
            <img class="logo" src="assets/images/logo.png"/>
            AIOCluster
        </a>
        <div class="section ui simple dropdown item">
            {{#if header.menu.active.icon}}
                <i class="{{header.menu.active.icon}} icon"></i>
            {{/if}}
            {{header.menu.active.title}}
            <i class="dropdown icon"></i>
            <div class="menu">
                {{#each header.menu.inactive}}
                    <a class="item" href="{{this.href}}">
                        {{#if this.icon}}
                            <i class="{{this.icon}} icon"></i>
                        {{/if}}
                        {{this.title}}
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>
