<table class="ui table">
    <thead>
        <tr>
            <th>Worker</th>
            <th>PID</th>
            <th>Status</th>
            <th>Memory</th>
            <th>CPU</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        {{#each workers}}
            <tr>
                <td><i class="user icon"></i><sup>{{this.ident}}</sup></td>
                <td>{{this.pid}}</td>
                <td>{{this.status}}</td>
                <td>{{megabytes this.memory.rss}}</td>
                <td>{{percent this.cpu_percent}}</td>
                <td>{{humantime this.age}}</time></td>
            </tr>
        {{/each}}
  </tbody>
</table>
